<!DOCTYPE html>
<html lang="en">
<head>
	<!--NECESSARY META DATA -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!-- WEBSITE TITLE -->
 	<title>Appetit: Homepage</title>
 	<!--LINKING TO BOOTSTRAP-->
 	<link href="css/bootstrap.min.css" rel="stylesheet">
 	<!--LINKING TO CSS-->
 	<link href="css/homepage.css" rel="stylesheet">
 	<!--LINKING TO GOOGLE WEB FONTS -->
 	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 	<!--NOT QUITE SURE WHAT THIS IS YET-->
 	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

<!--SECTION A: Homepage's top header: "Remaining cheat meals" -->
<div id ="jumbotron" class="jumbotron">
	<div class="container">
    <a href="/home">Go back to the homescreen</a>
    <h1>Meal was added</h1>
  </div>
</div>


</body>